div {
	  transition:all 0.1s ease;
}


.top {
position:absolute;top:140px;right:0;
opacity: 0;
}
.top:hover{
	animation-name: top;
-webkit-animation-name: top; 
animation-duration: 0.5s; 
-webkit-animation-duration: 0.5s;
animation-timing-function: linear; 
-webkit-animation-timing-function: linear;
opacity:1; 
	
}
.im1 {
position: relative;	
float: left;
margin: 3%;
background-color: white;
font-family: Bookman;
font-size: 17px;
}

.im1:hover {
 -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);

}
